@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer theme {
  :root {
    --c-fg: darkslategray;
    --c-bg: ghostwhite;
    --c-neutral: lightslategray;
    --c-accent: lavender;
    --c-sh-text: color-mix(in srgb, transparent, var(--c-neutral) 40%);
    --m: 50ms linear;

    font-family: monospace;
    color: var(--c-fg);
    background-color: var(--c-bg);
    text-shadow: 0 1px 4px var(--c-sh-text);
  }
}

#game-container {
  position: fixed;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  isolation: isolate;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  place-items: center;
}

#ui:has(> menu:not([hidden])) {
  background-color: color-mix(in srgb, transparent, var(--c-bg) 50%);
}

#score {
  position: absolute;
  top: 8px;
  inset-inline: 0;
  margin: auto;
  width: fit-content;
  font-size: larger;
}

menu {
  list-style-type: none;
}

menu:not([hidden]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

canvas {
  box-shadow: 2px 0 16px var(--c-accent);
  background-color: var(--c-accent);
}

button {
  all: unset;
  cursor: pointer;
  border: 2px solid var(--c-fg);
  padding: 1px 2px;
  box-shadow: 0 4px 0 -2px var(--c-neutral);
  transition: translate var(--m), box-shadow var(--m);
}

button:active {
  box-shadow: none;
  translate: 0 2px;
}

kbd {
  padding: 1px 2px;
  color: var(--c-accent);
  background-color: var(--c-fg);
}
